.chart {
  padding: 0.75rem 1rem;
  border-radius: var(--radius);
  background-color: rgba(255,255,255,0.02);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 18rem; /* increased height for larger chart */
  min-height: 12rem;
}

@media (max-width: 780px) {
  .chart {
    height: 12rem;
  }
}
